.App {
  text-align: center;
  display:flex;
  flex-wrap: wrap;
  margin: 5px;
}

.Searchbox{
  padding: 2rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
